.header{
    background-color: rgb(62, 66, 70);
    height: 200px;
    width: 100%
}
.main-content {
    background-color: #EFEFEF;
    margin: 0 auto;
    width: 75%;
    height: 70vh;
  }
  .footer { 
    background-color: #222222;
    margin: 0 auto;
    width: 75%;
    height: 10vh;
  }
  body {
    margin: 0;
    background-color: #D8D8D8;
    width: 100%;
    height: 100vh;
  }