body {
    margin: 0;
    background-color: teal;
    width: 100%;
    height: 100vh;
  }
  
  .header {
    width: 100%;
    height: 20vh;
    background-color:rosybrown;
  }
  
  .main-content {
    background-color: lavenderblush;
    margin: 0 auto;
    width: 75%;
    height: 70vh;
  }
  
  .footer { 
    background-color: rgb(1, 20, 71);
    margin: 0 auto;
    width: 75%;
    height: 10vh;
  }x
